# ========================
# System files
# ========================
.DS_Store
Thumbs.db
.AppleDouble
.LSOverride
Icon?
._*

# ========================
# Python cache
# ========================
__pycache__/
*.py[cod]

# ========================
# Build artifacts (C)
# ========================
c/build/
c/bin/
c/lib/
data_gen/build/

# ========================
# Logs / temp files
# ========================
*.log
*.out
*.tmp
*.bak
*.orig

# ========================
# Virtual environments
# ========================
venv/
env/
.venv/
.env/

# ========================
# IDE / editor configs
# ========================
.vscode/
.idea/
*.swp
*.swo

# ========================
# dist folder (compiled libs)
# ========================
# Ignore everything in dist
dist/*

# BUT keep the folder + required shared libs
!dist/
!dist/libpuzzlegen-linux-amd64.so
!dist/libpuzzlegen-linux-arm64.so

.gitignore