# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Windows thumbnails
Thumbs.db

# Python cache
__pycache__/
*.py[cod]

# Build artifacts (C)
c/build/
c/bin/
c/lib/
data_gen/build/

# Ignore everything in dist EXCEPT required shared libs
dist/*
!dist/
!dist/libpuzzlegen-linux-amd64.so
!dist/libpuzzlegen-linux-arm64.so

# Logs / temp
*.log
*.out
*.tmp

# Virtual environments
venv/
env/
.venv/
.env/

# IDE configs
.vscode/
.idea/
*.swp
*.swo

# Temporary files
*.bak
*.orig